<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Detalle de Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h2>Detalle del producto: <%= product.name %></h2>
            <article>
                <div>
                    <img
                        src="/img/products/<%= product.image %>"
                        alt="<%= product.name %>"
                    />
                </div>
                <div>
                    <h1><%= product.name %></h1>
                    <p>
                        <span>$ <%= toThousand(product.price) %></span> / <%=
                        product.discount %>% OFF
                    </p>
                    <p>
                        $ <%= toThousand(product.price -
                        (product.price*(product.discount/100))) %>
                    </p>
                </div>
                <a href="/products/cart">
                    <button type="submit">Comprar</button>
                </a>
                <a href="/products/<%= product.id %>/edit"
                    ><button type="submit">Editar</button></a
                >
                <form
                    action="/products/<%= product.id %>?_method=DELETE"
                    method="POST"
                >
                    <button type="submit">Borrar producto</button>
                </form>
            </article>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
