<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: 'Edición de producto'}) %>
        <script src="../../public/js/validate-edit-product.js"></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div>
                <h2>Edición del Producto: <%= product.name %></h2>
                <div id="errors-list"><ul></ul></div>
                <form
                    id="edit-product-form"
                    action="/products/<%= product.id %>/edit?_method=PUT"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <div>
                        <label for="name">Nombre</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            value="<%= product.name %>"
                        />
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <input
                            type="textarea"
                            name="description"
                            id="description"
                            value="<%= product.description %>"
                        />
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input
                            type="text"
                            name="price"
                            id="price"
                            value="<%= product.price %> "
                        />
                    </div>
                    <div>
                        <label for="discount">Descuento</label>
                        <input
                            type="text"
                            name="discount"
                            id="discount"
                            value="<%= product.discount %> "
                        />
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" />
                    </div>
                    <div>
                        <label for="size">Talle</label>
                        <label for="size">
                            <input type="checkbox" value="N" />18
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />19
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />20
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />21
                        </label>
                        <label for="size">
                            <input type="checkbox" value="N" />22
                        </label>
                    </div>
                    <div>
                        <label for="category">Categoría</label>
                        <select name="category" id="category">
                            <option value="offer">Oferta</option>
                            <option value="out-sale">Sin stock</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
