<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head", { title: "Little BU!" }) %>
    </head>
    <body>
        <%- include("partials/header") %>

        <main class="width-90">
            <section>
                <h2>Productos destacados</h2>
                <div class="flex margin-5 md-flex lg-flex">
                    <% products.forEach((product, i) => { %> <%-
                    include('products/product-card', {product: product})%> <% })
                    %>
                </div>
            </section>
            <section>
                <h2>Ofertas</h2>
                <div class="flex margin-5 md-flex lg-flex">
                    <% products.forEach((product, i) => { %> <%-
                    include('products/product-card', {product: product})%> <% })
                    %>
                </div>
            </section>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
